<header class="mb-4 mt-16">
  <%= link_to "< Back to My Quests", root_path, class: "hover:cursor-pointer text-primary" %>
  <h1 class="font-bold text-xl sm:text-3xl">Fame's Brag Document</h1>
</header>

<div class="card bg-info/10 shadow-sm p-4">
  <h2 class="sm:font-bold text-base">เป้าหมายในปีนี้ (2025)</h2>

  <ul class="list-disc pl-5">
    <li>อยากพัฒนาทักษะสกิล UX/UI, testing, และ DevOps ให้สามารถช่วยแก้ปัญหาที่คนอื่น ๆ หรือตัวเองเจอได้</li>
    <li>เริ่มใช้ TDD ในการทำโจทย์ programming ให้มากขึ้น</li>
    <li>เริ่มอ่าน text book ให้จบอย่างน้อย 1 เล่ม ต่อเดือน</li>
    <li>ออกกำลังกายให้ได้ 2-3 วันต่อสัปดาห์</li>
    <li>ฝึกภาษาอังกฤษให้สามารถพูดในชีวิตได้</li>
  </ul>
</div>

<div class="divider"></div>